@forward 'variables.scss';

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1370px;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}